<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8">
        <title>CAPTCHA</title>
    </head>
    <body>
        <div id="scpc-v2" show-trigger="true">
            <link rel="stylesheet" type="text/css" href="https://www.saobby.com/static/css/saobbyCaptchaV2.css">
            <div id="scpc-trigger" hidden>
                <div class="scpc-pre-like" style="width:fit-content;" onclick="saobbyCaptchaV2.trigger_clicked();" id="scpc-trigger-div">
                    <span id="scpc-trigger-text">⚪点击此处进行人机验证</span>
                </div>
            </div>
            <div style="position:fixed;top:calc( 50vh - 152px );left:calc( 50vw - 152px );width:276px;height:285px;background:#ffffff;" id="scpc-window" class="scpc-pre-like" hidden>
                <div id="scpc-challenge-area" hidden>
                    <span style="font-size:15px;top:5px;left:5px;" class="scpc-element">
                        <span>请<b class="scpc-result">依次</b>点击</span>
                    </span>
                    <img style="top:0px;left:85px;" src="" height="30px" id="scpc-tip-image" class="scpc-element" draggable="false">
                    <span style="font-size:15px;top:5px;left:215px;" class="scpc-element">
                        <span style="color:#555555;">
                            已点击:<span id="scpc-clicked-count">0</span>/<span id="scpc-total">-</span>
                        </span>
                    </span>
                    <button style="font-size:14px;top:271px;left:111px;height:25px;" onclick="document.dispatchEvent(saobbyCaptchaV2.cancelled_event);saobbyCaptchaV2.close_window();" type="button" class="scpc-element" id="scpc-close-window-btn">关闭</button>
                    <button style="font-size:14px;top:271px;left:163px;height:25px;" onclick="saobbyCaptchaV2.refresh();" type="button" id="scpc-refresh-btn" class="scpc-element" disabled>换一个</button>
                    <img src="" width="300px" height="225px" style="top:40px;left:0px;border-radius:12px;" id="scpc-challenge-image" class="scpc-element" draggable="false" hidden>
                    <div id="scpc-refreshing-tips" style="top:40px;left:0px;height:225px;width:300px;" class="scpc-element">
                        <span style="font-size:15px;top:100px;left:120px;" class="scpc-element">请稍候...</span><br>
                        <span style="font-size:15px;top:120px;left:100px;" class="scpc-element">正在生成验证码...</span><br>
                    </div>
                    <button style="font-size:14px;top:271px;left:228px;height:25px;width:70px;" id="scpc-submit-btn" onclick="saobbyCaptchaV2.submit();" type="button" class="scpc-element" disabled>确认</button>
                    <span id="scpc-result" style="font-size:15px;top:271px;left:5px;" class="scpc-element scpc-result"></span>
                    <img src="https://www.saobby.com/static/image/captcha/1.svg" id="scpc-number-1" class="scpc-numbers scpc-element" number="1" hidden>
                    <img src="https://www.saobby.com/static/image/captcha/2.svg" id="scpc-number-2" class="scpc-numbers scpc-element" number="2" hidden>
                    <img src="https://www.saobby.com/static/image/captcha/3.svg" id="scpc-number-3" class="scpc-numbers scpc-element" number="3" hidden>
                    <img src="https://www.saobby.com/static/image/captcha/4.svg" id="scpc-number-4" class="scpc-numbers scpc-element" number="4" hidden>
                    <img src="https://www.saobby.com/static/image/captcha/5.svg" id="scpc-number-5" class="scpc-numbers scpc-element" number="5" hidden>
                    <input id="scpc-challenge-id" type="hidden" disabled>
                    <input id="scpc-clicked-positions" type="hidden" disabled>
                </div>
                <div id="scpc-loading-area">
                    <span style="font-size:15px;top:130px;left:120px;" class="scpc-element">请稍候...</span><br>
                    <span style="font-size:15px;top:150px;left:80px;" class="scpc-element">正在尝试进行人机验证...</span><br>
                    <span style="font-size:15px;top:170px;left:100px;" class="scpc-element scpc-result" id="scpc-loading-result"></span>
                </div>
            </div>
            <input id="scpc-token" type="hidden" name="saobby-captcha-token">
        </div>
        <script src="/static/js/saobbyCaptchaV2.js" async></script>
    </body>
</html>