<html lang="zh">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>测试</title>
    </head>
    <body>
        <form method="post" action="/">
            <input type="text" name="username" placeholder="用户名"><br><br>
            <script src="/static/js/saobbyCaptchaV3.js"></script>
            <div id="captcha-div"></div><br>
            <script>
                const captcha = new SaobbyCaptchaV3({apiBaseUrl:"",showTrigger:true,container:document.getElementById("captcha-div")});
            </script>
            <input type="submit">
        </form>

    </body>
</html>
