<html lang="zh">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>测试</title>
    </head>
    <body>
        <form method="post" action="/">
            <script src="/static/js/saobbyCaptchaV3.js"></script>
            <div id="captcha-div"></div>
            <script>
                const captcha = new SaobbyCaptchaV3({apiBaseUrl:"",once:false});
            </script>
            <input type="submit">
        </form>

    </body>
</html>
